{% extends "base.html.twig" %}

{% set title = "Автомобили" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p>
            <a href="{{ path('new_car') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить авто
            </a>
        </p>
        <table class="table">
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.number }}</td>
                    <td class="text-right text-nowrap">
                        <a href="{{ path('edit_car', {id: car.id}) }}" class="btn btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
